<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
   <listener>
    <listener-class>UAV.listener.GroundListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>UAV.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowUAVOnlineServlet</servlet-name>
    <servlet-class>UAV.servlet.ShowUAVOnlineServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ModifyUAVOnlineInfoServlet</servlet-name>
    <servlet-class>UAV.servlet.ModifyUAVOnlineInfoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowUAVOnlineInfoServlet</servlet-name>
    <servlet-class>UAV.servlet.ShowUAVOnlineInfoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddRestrictServlet</servlet-name>
    <servlet-class>UAV.servlet.AddRestrictServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchAllRestrictionServlet</servlet-name>
    <servlet-class>UAV.servlet.SearchAllRestrictionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ModifyRestrictionServlet</servlet-name>
    <servlet-class>UAV.servlet.ModifyRestrictionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteRestrictionServlet</servlet-name>
    <servlet-class>UAV.servlet.DeleteRestrictionServlet</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>ShowBanAreaServlet</servlet-name>
    <servlet-class>UAV.servlet.ShowBanAreaServlet</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>SearchAllBanAreaServlet</servlet-name>
    <servlet-class>UAV.servlet.SearchAllBanAreaServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddBanAreaServlet</servlet-name>
    <servlet-class>UAV.servlet.AddBanAreaServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ModifyBanAreaServlet</servlet-name>
    <servlet-class>UAV.servlet.ModifyBanAreaServlet</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>DeleteBanAreaServlet</servlet-name>
    <servlet-class>UAV.servlet.DeleteBanAreaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowUAVOnlineHistoricalPathServlet</servlet-name>
    <servlet-class>UAV.servlet.ShowUAVOnlineHistoricalPathServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>GotoDestinationServlet</servlet-name>
    <servlet-class>UAV.servlet.GotoDestinationServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>ShowZoneServlet</servlet-name>
    <servlet-class>UAV.servlet.ShowZoneServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>ShowTaskServlet</servlet-name>
    <servlet-class>UAV.servlet.ShowTaskServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>SearchAllZoneServlet</servlet-name>
    <servlet-class>UAV.servlet.SearchAllZoneServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>DeleteZonePointServlet</servlet-name>
    <servlet-class>UAV.servlet.DeleteZonePointServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>DeleteTaskPointServlet</servlet-name>
    <servlet-class>UAV.servlet.DeleteTaskPointServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>AddPointServlet</servlet-name>
    <servlet-class>UAV.servlet.AddPointServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>AddTaskServlet</servlet-name>
    <servlet-class>UAV.servlet.AddTaskServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>UAV.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShortestPathServlet</servlet-name>
    <servlet-class>UAV.servlet.ShortestPathServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowRecordServlet</servlet-name>
    <servlet-class>UAV.servlet.ShowRecordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LeastUAVServlet</servlet-name>
    <servlet-class>UAV.servlet.LessUAVServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>LessTimeServlet</servlet-name>
    <servlet-class>UAV.servlet.LessTimeServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>MaxTaskServlet</servlet-name>
    <servlet-class>UAV.servlet.MoreTaskServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>ShowUAVInBaseServlet</servlet-name>
    <servlet-class>UAV.servlet.ShowUAVInBaseServlet</servlet-class>
  </servlet>
 <servlet>
 <servlet-name>AreaCoverageServlet</servlet-name>
 <servlet-class>UAV.servlet.AreaCoverageServlet</servlet-class>
 </servlet>
 <servlet>
 <servlet-name>DeleteUAVInBaseServlet</servlet-name>
 <servlet-class>UAV.servlet.DeleteUAVInBaseServlet</servlet-class>
 </servlet>
 <servlet>
 <servlet-name>AddUAVInBaseServlet</servlet-name>
 <servlet-class>UAV.servlet.AddUAVInBaseServlet</servlet-class>
 </servlet>
 <servlet>
 <servlet-name>ShowTravelPointServlet</servlet-name>
 <servlet-class>UAV.servlet.ShowTravelPointServlet</servlet-class>
 </servlet>
   <servlet-mapping>
    <servlet-name>ShowTravelPointServlet</servlet-name>
    <url-pattern>/jsp/ShowTravelPointServlet.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/jsp/LoginServlet.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowUAVOnlineServlet</servlet-name>
    <url-pattern>/jsp/ShowUAVOnlineServlet.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowUAVOnlineInfoServlet</servlet-name>
    <url-pattern>/jsp/ShowUAVOnlineInfoServlet.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyUAVOnlineInfoServlet</servlet-name>
    <url-pattern>/jsp/ModifyUAVOnlineInfoServlet.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddRestrictServlet</servlet-name>
    <url-pattern>/jsp/AddRestrictServlet.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchAllRestrictionServlet</servlet-name>
    <url-pattern>/jsp/SearchAllRestrictionServlet.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyRestrictionServlet</servlet-name>
    <url-pattern>/jsp/ModifyRestrictionServlet.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteRestrictionServlet</servlet-name>
    <url-pattern>/jsp/DeleteRestrictionServlet.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowBanAreaServlet</servlet-name>
    <url-pattern>/jsp/ShowBanAreaServlet.action</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>SearchAllBanAreaServlet</servlet-name>
    <url-pattern>/jsp/SearchAllBanAreaServlet.action</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>AddBanAreaServlet</servlet-name>
    <url-pattern>/jsp/AddBanAreaServlet.action</url-pattern>
  </servlet-mapping>
 <servlet-mapping>
    <servlet-name>ModifyBanAreaServlet</servlet-name>
    <url-pattern>/jsp/ModifyBanAreaServlet.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteBanAreaServlet</servlet-name>
    <url-pattern>/jsp/DeleteBanAreaServlet.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowUAVOnlineHistoricalPathServlet</servlet-name>
    <url-pattern>/jsp/ShowUAVOnlineHistoricalPathServlet.action</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>GotoDestinationServlet</servlet-name>
    <url-pattern>/jsp/GotoDestinationServlet.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowZoneServlet</servlet-name>
    <url-pattern>/jsp/ShowZoneServlet.action</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>ShowTaskServlet</servlet-name>
    <url-pattern>/jsp/ShowTaskServlet.action</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>SearchAllZoneServlet</servlet-name>
    <url-pattern>/jsp/SearchAllZoneServlet.action</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>DeleteZonePointServlet</servlet-name>
    <url-pattern>/jsp/DeleteZonePointServlet.action</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>DeleteTaskPointServlet</servlet-name>
    <url-pattern>/jsp/DeleteTaskPointServlet.action</url-pattern>
  </servlet-mapping>
 <servlet-mapping>
    <servlet-name>AddPointServlet</servlet-name>
    <url-pattern>/jsp/AddPointServlet.action</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
    <servlet-name>AddTaskServlet</servlet-name>
    <url-pattern>/jsp/AddTaskServlet.action</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/jsp/LogoutServlet.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShortestPathServlet</servlet-name>
    <url-pattern>/jsp/ShortestPathServlet.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowRecordServlet</servlet-name>
    <url-pattern>/jsp/ShowRecordServlet.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AreaCoverageServlet</servlet-name>
  	<url-pattern>/jsp/AreaCoverageServlet.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AreaCoverageServlet</servlet-name>
  	<url-pattern>/jsp/AreaCoverageServlet.action</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>ShowUAVInBaseServlet</servlet-name>
  	<url-pattern>/jsp/ShowUAVInBaseServlet.action</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>LeastUAVServlet</servlet-name>
  	<url-pattern>/jsp/LeastUAVServlet.action</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>LessTimeServlet</servlet-name>
  	<url-pattern>/jsp/LessTimeServlet.action</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>MaxTaskServlet</servlet-name>
  	<url-pattern>/jsp/MaxTaskServlet.action</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>DeleteUAVInBaseServlet</servlet-name>
  	<url-pattern>/jsp/DeleteUAVInBaseServlet.action</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
  	<servlet-name>AddUAVInBaseServlet</servlet-name>
  	<url-pattern>/jsp/AddUAVInBaseServlet.action</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>  
</web-app>